TD {
	FONT-SIZE: 12px
}
.p9 {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
.x13 {
	FONT-SIZE: 13px
}
.noun {
	TEXT-DECORATION: none
}
A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff0000; FONT-STYLE: normal; TEXT-DECORATION: none
}
A.a1 {
	TEXT-DECORATION: none
}
A.a1:visited {
	TEXT-DECORATION: none
}
A.a1:active {
	TEXT-DECORATION: underline
}
A.a1:hover {
	TEXT-DECORATION: underline
}
BODY {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-STYLE: normal; TEXT-DECORATION: none
}
P {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-STYLE: normal
}
EM {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; TEXT-TRANSFORM: none; COLOR: #808080; FONT-STYLE: normal
}
I {
	FONT-WEIGHT: bold; FONT-STYLE: italic; FONT-FAMILY: Arial
}
BIG {
	FONT: bold 22px Times New Roman; COLOR: #000000
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
.title {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; LINE-HEIGHT: 16px
}
.price {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff3333
}
.crossprice {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff3333; FONT-STYLE: italic; TEXT-DECORATION: line-through
}
.booktitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #8101ff; LINE-HEIGHT: 18px
}
.heading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; FONT-FAMILY: 宋体 , Arial
}
.heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; FONT-FAMILY: 宋体 , Arial
}
.heading3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: 宋体 , Arial
}
.smallest {
	FONT-SIZE: 10px; FONT-FAMILY: 宋体 , Arial
}
.smaller {
	FONT-SIZE: 11px; FONT-FAMILY: 宋体 , Arial
}
.small {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
.normal {
	FONT-WEIGHT: normal; FONT-SIZE: 13px
}
.large {
	FONT-SIZE: 14px; FONT-FAMILY: 宋体 , Arial
}
.larger {
	FONT-SIZE: 15px; FONT-FAMILY: 宋体 , Arial
}
.catetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: violet; TEXT-DECORATION: underline
}
.largest {
	FONT-SIZE: 16px; FONT-FAMILY: 宋体, Arial
}
.content {
	FONT-SIZE: 16px; LINE-HEIGHT: 14pt
}
